.fixed-action-btn
  a.btn-floating.btn-large.deep-purple.lighten-1
    i.large.material-icons timer
  ul
    li
      .special-button
        a(class= "typeform-share button" href="https://ezhomestaging.typeform.com/to/Fv6ApF" data-mode="popup" data-auto-open=true data-hide-headers=true data-submit-close-delay="5" target="_blank").btn-floating.white Order Now
          script(src='/assets/js/typeform.js')
      
section.header
  .header-wrap
    a(href="/")
      .brand
    .top-nav
      ul.desktop-nav  
        li: a(class= "typeform-share button" href="https://ezhomestaging.typeform.com/to/Fv6ApF" data-mode="popup" data-auto-open=true data-hide-headers=true data-submit-close-delay="5" target="_blank").cta order now
          script(src='/assets/js/typeform.js')
        li: a(href="#about") about
        li: a(href="#testimony-header") testimonial
        li: a(href="gallery.html") gallery
        li: a(href="#contact") contact

    .hamburger
      .line-1
      .line-2
      .line-3

.mobile-nav
  ul
    li: a(class= "typeform-share button" href="https://ezhomestaging.typeform.com/to/Fv6ApF" data-mode="popup" data-auto-open=true data-hide-headers=true data-submit-close-delay="5" target="_blank").cta order now
      script(src='/assets/js/typeform.js')
    li: a(href="#about") about
    li: a(href="#testimony-header") testimonial
    li: a(href="gallery.html") gallery
    li: a(href="#contact") contact
